* {
	padding: 0;
	margin: 0;
	border: none;
	line-height: 1.5;
	box-sizing: border-box;
}

.brands i:hover {
	opacity: 0.6;
}

.modal-content button:hover,
.modal-content i:hover,
#footer > :first-child:hover,
.sub-text-form button:hover,
.post-content li:hover,
.like button:hover,
.replies button:hover,
#navbar a:hover,
.header-text button:hover,
.hover-gray:hover {
	background-color: #ccc;
	color: #000;
	cursor: pointer;
	opacity: 1;
}

hr {
	border: 0;
	border-top: 1px solid #eee;
	margin: 20px 0;
}

.ins-text::before {
	content: "";
	display: table;
	clear: both;
}

.ins-text::after {
	content: "";
	display: table;
	clear: both;
}

body {
	width: 100%;
	background-color: #f1f1f1;
	font-family: "open sans";
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 20px;
	margin: 10px 0;
	font-weight: 400;
}

p {
	margin: 15px 0;
	font-size: 15px;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.row {
	width: 100%;
	float: left;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}
.col:after {
	content: "";
	display: table;
	clear: both;
}
.col-16 {
	width: 16.66666%;
	float: left;
}

.col-23 {
	width: 66.6666%;
	float: left;
}

.col-83 {
	width: 83.33333%;
	float: left;
}

.col-half {
	width: 49.9999%;
	float: left;
}

.col-13 {
	width: 32.3333%;
	float: left;
}

#navbar {
	width: 100%;
	overflow: hidden;
	color: #fff;
	background-color: #000;
}

#navbar a {
	padding: 8px 16px;
	float: left;
	width: auto;
	border: none;
	display: block;
	outline: 0;
	color: #fff;
}

#navbar .right {
	float: right;
}

.header {
	padding: 48px 16px;
	text-align: center;
}

.header h1 {
	font-size: 48px;
	font-weight: bolder;
	margin: 10px;
}

.header h6 {
	margin: 10px;
	font-size: 16px;
	font-weight: 300;
}

.header span {
	display: inline-block;
	background-color: #000;
	color: #fff;
	padding: 0 8px;
}

.container {
	position: relative;
	letter-spacing: 4px;
}

.img-header img {
	max-width: 100%;
	height: auto;
}

.header-text {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0%, -50%);
	color: #fff;
	padding: 12px 24px;
}

.header-text button {
	display: block;
	padding: 12px 24px;
	font-size: 18px;
	font-family: "oswald";
	background-color: #fff;
	opacity: 0.6;
	text-transform: uppercase;
}

#blog-content {
	padding: 8px 16px;
	overflow: auto;
}

.blog-container {
	margin: 16px;
	padding: 12px 24px;
	text-align: center;
	overflow: auto;
}

.blog-info {
	text-align: justify;
}

.blog-info img {
	width: 100%;
	height: auto;
}

.blog-info button {
	display: inline-block;
	padding: 8px 16px;
	font-weight: bolder;
}

.like {
	float: left;
	border: 1px solid #ccc;
}

.replies {
	float: right;
}

.replies button {
	color: #fff;
	background-color: #000;
}

.replies span {
	padding: 0 8px;
	background-color: #fff;
	color: #000;
	display: inline-block;
	text-align: center;
}

.emo-sec {
	display: none;
	margin-bottom: 15px;
}

.ins-info {
	margin: 16px;
	padding: 0;
}

.ins-info img {
	vertical-align: middle;
}
.ins-text {
	color: #fff;
	background-color: #000;
	padding: 0.01px 16px;
	display: block;
}

.posts {
	margin: 16px;
	overflow: auto;
	height: auto;
}
.post-head {
	color: #fff;
	background-color: #000;
	padding: 8px 16px;
}

.post-content li {
	padding: 16px;
	list-style-type: none;
}
.post-content img {
	float: left;
	height: auto;
	display: block;
	overflow: none;
	margin-right: 16px;
}
#blog-content,
.sub-text-form,
.inspire,
.tag-content,
.post-ads::before {
	content: "";
	display: table;
	clear: both;
}
#blog-content,
.sub-text-form,
.inspire,
.tag-content,
.post-ads::after {
	content: "";
	display: table;
	clear: both;
}

.post-ads {
	display: block;
}

.ads-container {
	height: 200px;
	padding: 0 16px;
	margin: 16px 0;
	position: relative;
}

.ads-container span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	font-size: 15px;
}

/* .tag-content::before {
    content: "";
    display: table;
    clear: both;
}

.tag-content::after{
    content: "";
    display: table;
    clear: both;
} */

.tag-items a {
	text-align: center;
	display: inline-block;
	text-decoration: none;
	color: #000;
	background-color: #f1f1f1;
	margin-bottom: 16px;
	padding: 0 8px;
}

.brands {
	padding: 8px 16px;
	font-size: 24px;
}

.brands i {
	color: #000;
}

.sub-text-form input {
	width: 100%;
	border: 1px solid #ccc;
	display: block;
	padding: 8px;
}

.sub-text-form button {
	color: #fff;
	background-color: #f44336;
	display: block;
	width: 100%;
	padding: 8px 16px;
}

#footer {
	padding: 32px;
	color: #fff;
	background-color: #616161;
	overflow: hidden;
}

.footer-a {
	display: inline-block;
	color: #fff;
	background-color: #000;
	text-decoration: none;
	text-align: center;
	padding: 12px 24px;
	margin-bottom: 16px;
}

.modal {
	overflow: auto;
	display: none;
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	padding-top: 100px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-container {
	padding: 32px;
	margin: auto;
	position: relative;
	background-color: #fff;
}

.modal-content input {
	border: 1px solid #ccc;
	padding: 8px;
	display: block;
	width: 100%;
	font-size: 15px;
}

.modal-content button {
	display: block;
	color: #fff;
	background-color: #f44336;
	padding: 12px 24px;
	margin-bottom: 16px;
	width: 100%;
	font-size: 15px;
}

/* responesive */

@media only screen and (max-width: 767px) {
	.col-23 {
		width: 100%;
	}

	.col-13 {
		width: 100%;
	}
}

@media only screen and (max-width: 376px) {
	.col-23 {
		width: 100%;
	}

	.col-13 {
		width: 100%;
	}
}
